.messagearea {
  background: #222433;
  overflow-x: auto;
  height: 84vh;
  display: flex;
  flex-direction: column;
}

.messageinput {
  background-color: rgba(0, 0, 0, 0.904);
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  input {
    margin-top: 0.3em;
    height: 70%;
    width: 30%;
    border-radius: 7px;
    text-align: center;
    font-family: "Recursive", sans-serif;
    font-size: 16pt;
    &::after {
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -webkit-animation: text-pop-up-top 0.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms infinite alternate-reverse
        both;
      animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms
        infinite alternate-reverse both;
    }
    &:active {
      transform: scale(1.1);
    }
  }

  $green: #00d166;
  .botoption {
    text-transform: uppercase;
    color: #fafafa;
    background-color: $green;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
    transition: 0.3s all ease;
    letter-spacing: 0.1rem;
    font-size: 14pt;
    position: relative;
    top: 0;
    right: 0;
    height: 70%;
    margin-top: 0.34%;
    width: 10%;
    &:after,
    &:before {
      position: absolute;
      font-family: "Barrio", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      color: darken($green, 20%);
      transition: 0.3s all ease;
    }

    &:before {
      position: absolute;
      left: 1.4rem;
      top: 0.9rem;
    }

    &:after {
      position: absolute;
      left: 0.8rem;
      top: 1rem;
    }

    &:hover {
      box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);
      top: -0.1rem;
      right: -0.1rem;
      cursor: pointer;

      &:before {
        position: absolute;
        left: 0.8rem;
        top: 0.7rem;
        transform: translateY(-1px);
      }

      &:after {
        position: absolute;
        left: 1.1rem;
        top: 1rem;
      }
    }
  }
  button {
    margin-left: 2%;
    margin-top: 0.1%;
    background-color: transparent;
    border: none;
    img {
      height: 40px;
    }
    &.btn-send{
      &:hover {
        -webkit-animation: rotate-center 0.6s ease-in-out both;
        animation: rotate-center 0.6s ease-in-out both;
      }
    }
    
  }
}
