.message{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 20pt;
    margin-top: 1%;
    margin-left: 2%;
    // border: 5px solid red;
    .messagebody{
        min-width: 40%;
        width: auto;
        margin-left: 1%;
        margin-right: 1%;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 500ms both;
        span{
            margin-left: 6%;
        }
    }
    img{
        border-radius: 100em;
        height: 2em;
    }
}
